<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="developer">
            <p> This site was created by Namrata Jindam.</p>
            <p>It uses mapbox.com and weatherstack.com</p>
            <img class="profile" src="/img/profile.jpg" alt="" srcset="">
            <p>Namrata Jindam</p>
        </div>

    </div>

    {{>footer}}
</body>

</html>