<header>
    <a href="#" class="logo">Weather Forecast</a>
    <img class="icon" src="/img/icon.png">
    <div class="header-right">
        <a class="active" href="/">Weather</a>
        <a href="/help">Help</a>
        <a href="/about">about</a>
    </div>
</header>